


<div class="snippet-wrapper">
	<h3> Here is secret vim Nr<%= @quote.id %> brought to you by <%= @quote.author %></h3>
	
	<h1 class="snippet offset2">>> <%= @quote.snippet %></h1>
	<p class="#"><%= @quote.description %></p>


	<div class="pull-right">
		<a href="<%= @quote.link %>"><%= @quote.link %></a></div>

</div>

<br class="clear" />
<br />
<br />
<br />