<!DOCTYPE html>
<html>
<head>
  <title>Secret vim</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
 <link href="http://thomasf.github.io/solarized-css/solarized-light.min.css" rel="stylesheet"></link>
 <!-- <link href="http://thomasf.github.io/solarized-css/solarized-dark.min.css" rel="stylesheet"></link> -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	
<%= render :partial => "layouts/header" %>

<%= render :partial => "layouts/modal" %>




	<hr />
	<br class='clear'/>

<div calss="container">
	<% if flash[:error].present? %>
		<div class="col-xs-10 col-xs-offset-1 alert alert-danger">
			<%= flash[:error].html_safe %>
		</div>
	<% end %>
	<%= yield %>
</div>

<div class="container">
		<div class="col-xs-6 col-xm-6">
			<%= link_to "This isn't enough, I need more", root_path, :class => 'next-quote' %>
		</div>
		<div class="col-xs-6 col-sm-6  pull-right copyright">
			&copy; 2014 by Ilya, Munich
		</div>
	</div>

</body>
</html>
