<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
 <!-- <link href="http://thomasf.github.io/solarized-css/solarized-light.min.css" rel="stylesheet"></link> -->
 <link href="http://thomasf.github.io/solarized-css/solarized-dark.min.css" rel="stylesheet"></link>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<%= render :partial => "layouts/header" %>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Contribute Your Quote</h4>
        </div>
        <div class="modal-body">
      <%= simple_form_for Quote.new do |f| %>
			<%= f.input :snippet, :label => "Enter your command here", :placeholder => ":wq!" %>
			<%= f.input :description, :label => "What does it do?", :placeholder => "Save changes and exit." %>
			<%= f.input :author, :label => "Your name", :placeholder => "Ilya" %>
			<%= f.input :link, :label => "Give credit to author - where did you learn it", :placeholder => "http://bullium.com/support/vim.html" %>

		</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit 'Create', :class => 'btn btn-danger' %>
		  <% end %>
        </div>
      </div>
    </div>
  </div>


	<hr />
	<br class='clear'/>

<%= render :partial => "layouts/tweets" %>

<div calss="container">
	<% if flash[:error].present? %>
		<div class="col-xs-10 col-xs-offset-1 alert alert-danger">
			<%= flash[:error].html_safe %>
		</div>
	<% end %>
	<%= yield %>
</div>

<div id="footer">
	<div class="container">
		<div class="col-xs-12 col-xm-6">
			<%= link_to "This isn't enough, I need more", root_path, :class => 'next-quote' %>
		</div>
		<div class="col-xs-12 col-sm-6 footer-blurb">
			Proudly hacked in Munich, BY by Ilya
		</div>
	</div>
</div>

</body>
</html>
